{% extends "base.html.twig" %}
{% block title %}Home{% endblock %}
{% block content %}

    {%  if user_id == -1 %}

        <form id="form_login" class="col" action="/search" enctype="application/x-www-form-urlencoded" method="POST">
            <div class="container h-100">
                <div class="d-flex justify-content-center h-100">
                    <div class="searchbar">
                        <input class="search_input" type="text" name="search_input" placeholder="Search...">
                        <a href="{{ url }}/search" class="search_icon"><i class="fas fa-search"></i></a>
                    </div>
                </div>
            </div>
        </form>
        <a href="{{ url }}/login" >Sing In</a><br>
        <a href="{{ url }}/register">Sing Up</a>


        <h1 class="text-center alert alert-primary">Home</h1>

        {% if found == 0 %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                No products found!:(
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {%  endif %}


        <div class="container">

                {% for product in products %}
                    {% if  product['sold_out'] == 0 %}
                        {% if product['is_active'] == 1 %}
                            <div class="row">

                                <div class="col-sm-4">
                                    <div class="row">
                                        <a class="product" href="product/{{ product['id'] }}"><img class="product" src="{{ base_url }}../assets/images/{{ product['product_image'] }}"></a>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="row">
                                        Product name:
                                        {{ product['title'] }}
                                    </div>
                                    <div class="row">
                                        Product Description:
                                        {{ product['description'] }}
                                    </div>
                                    <div class="row">
                                        Price:
                                        {{ product['price'] }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}

        </div>





    {%  else %}
        {{ image_profile }}
        <img src= {{ image_profile }} border="1" alt="img user" width="52" height="52">
        <form id="form_login" class="col" action="/search" enctype="application/x-www-form-urlencoded" method="GET">
            <div class="container h-100">
                <div class="d-flex justify-content-center h-100">
                    <div class="searchbar">
                        <input class="search_input" type="text" name="search" placeholder="Search...">
                        <button type="submit" class="search_icon"><a class="search_icon"><i class="fas fa-search"></i></a></button>
                    </div>
                </div>
            </div>
        </form>
        <a href="{{ url }}/profile">User Profile</a><br>
        <a href="{{ url }}/uploadproduct">Add item</a>
        <br>
        <a href="{{ url }}/myproducts">My Products</a>
        <br>
        <a href="{{ url }}/logout">Log Out</a><br>
        <h1 class="text-center alert alert-primary">Home</h1>

        {% if found == 0 %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                No products found!:(
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {%  endif %}


        <div class="container">
            {% for product in products %}
                {% if  product['sold_out'] == 0 %}
                    {% if product['user_id'] != user_id %}
                        {% if product['is_active'] == 1 %}
                            <div class="row">

                                <div class="col-sm-4">
                                    <div class="row">
                                        <a class="product" href="product/{{ product['id'] }}"><img class="product" src="{{ base_url }}../assets/images/{{ product['product_image'] }}"></a>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="row">
                                        Product name:
                                        {{ product['title'] }}
                                    </div>
                                    <div class="row">
                                        Product Description:
                                        {{ product['description'] }}
                                    </div>
                                    <div class="row">
                                        Price:
                                        {{ product['price'] }}
                                    </div>
                                    <div class="col-md-6">
                                        <form action="/buy/{{ product['id'] }}" method="POST"><button type="submit" name="button" class="btn btn-success btn-product" enctype="application/x-www-form-urlencoded" ><span class="glyphicon glyphicon-shopping-cart"></span>BUY</button></form>
                                    </div>
                                    <br>
                                    <div class="col-md-6">
                                        <a class="btn btn-primary btn-product"><span class="glyphicon glyphicon-thumbs-up"></span> Like</a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}

        </div>

    {%  endif %}



{% endblock %}
