{% extends "base.html.twig" %}
{% block title %}My Products{% endblock %}
{% block content %}

    <h1 class="text-center alert alert-primary">My Products</h1>

    {%  if user_id == -1 %}
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSODALYDYo2dqN0DG_kPNi2X7EAy1K8SpRRZQWkNv9alC62IHggOw" border="1" alt="img user" width="52" height="52">

        <form id="form_login" class="col" action="/search" enctype="application/x-www-form-urlencoded" method="POST">
            <div class="container h-100">
                <div class="d-flex justify-content-center h-100">
                    <div class="searchbar">
                        <input class="search_input" type="text" name="search_input" placeholder="Search...">
                        <a href="{{ url }}/search" class="search_icon"><i class="fas fa-search"></i></a>
                    </div>
                </div>
            </div>
        </form>
        <a href="{{ url }}/login" >Sing In</a><br>
        <a href="{{ url }}/register">Sing Up</a>
    {%  else %}


        <a href="{{ url }}/profile">User Profile</a><br>
        <a href="{{ url }}/uploadproduct">Add item</a>
        <br>
        <a href="{{ url }}/logout">Log Out</a><br>
    {% if found == 0 %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            No products found!:(
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {%  endif %}


    <div class="container">
        {% for product in products %}
                <div class="row">

                    <div class="col-sm-4">
                        <div class="row">
                            <a class="product" href="updateProduct/{{ product['id'] }}"><img class="product" src="{{ base_url }}../assets/images/{{ product['product_image'] }}"></a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            Product name:
                            {{ product['title'] }}
                        </div>
                        <div class="row">
                            Delete product:
                            <form action="/deleteProduct/{{ product['id'] }}" method="POST"><button type="submit" name="button" class="btn btn-success btn-product" enctype="application/x-www-form-urlencoded" >DELETE</button></form>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>

    {%  endif %}
    <input type="button" value="Go back" class="btn-dark" onclick="history.back()">

{% endblock %}
