{% extends "base.html.twig" %}
{% block title %} {{ product[0]['title'] }}{% endblock %}
{% block content %}

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    {%  if user_id == -1 %}
        <a href="{{ url }}/myproducts">My Products</a><br>


    {%  else %}
        <a href="{{ url }}/profile">User Profile</a><br>
        <a href="{{ url }}/uploadproduct">Add item</a>
        <br>
        <a href="{{ url }}/myproducts">My Products</a>
        <br>
        <a href="{{ url }}/logout">Log Out</a><br>


    {%  endif %}

    {% if product[0]['user_id'] != user_id %}
        <h1 class="text-center alert alert-primary">{{ product[0]['title'] }}</h1>

        <div class="container">

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail" >
                    <h4 class="text-center"><span class="label label-info">{{ product[0]['category'] }}</span></h4>
                    <div class="row">
                        <img class="product" src="{{ base_url }}../assets/images/{{ product[0]['product_image'] }}">
                    </div>
                    <div class="caption">
                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                                <h3>{{ product[0]['file_name'] }}</h3>
                            </div>
                            <div class="col-md-6 col-xs-6 price">
                                <h3>
                                    <label>{{ product[0]['price'] }} €</label></h3>
                            </div>
                        </div>
                        <p>{{ product[0]['description'] }}</p>
                        <div class="row">
                            <div class="col-md-6">
                                <a class="btn btn-primary btn-product"><span class="glyphicon glyphicon-thumbs-up"></span> Like</a>
                            </div>
                            <br>
                            <div class="col-md-6">
                                <form action="{{ url }}/product/{{ product[0]['id'] }}" method="POST"><button type="submit" name="button" class="btn btn-success btn-product" enctype="application/x-www-form-urlencoded" ><span class="glyphicon glyphicon-shopping-cart"></span>BUY</button></form>
                            </div>
                        </div>
                        <p> </p>
                    </div>
                </div>
            </div>

        </div>

    {% else %}

        <div class="row m-4 text-center">
            <div id="div_update">
            <form id="form_product" class="col" action="{{ url }}/upgradeProduct/{{ product[0]['id'] }}" enctype="multipart/form-data" method="POST">
                <h2 class="mb-4">Upgrade your product: {{ product[0]['title'] }}</h2>
                <div class="form-group"><input id="uploadProduct_Name" type="text" name="uploadProduct_Name" class="form-control-sm" style="width: 400px; font-size: 20px" onkeyup="comprovaUpload_Name()" value={{ product[0]['title'] }}></div>
                <div class="form-group"><span id="errorUpload_Name" style="color: red"></span></div>
                <div class="form-group"><input id="uploadProduct_Description" type="text" name="uploadProduct_Description" class="form-control-sm" style="width: 600px" onkeyup="comprovaUpload_Description()" value={{ product[0]['description'] }}></div>
                <div class="form-group"><span id="errorUpload_Description" style="color: red"></span></div>
                <div class="form-group" onclick="comprovaUpload_Category()">
                    <select class="form-group-sm" id="uploadProduct_Category" name="uploadProduct_Category">
                        <option value="empty" disabled selected>Select your category</option>
                        <option value="Computers_and_electronic">1. Computers and electronic</option>
                        <option value="Cars">2. Cars</option>
                        <option value="Sports">3. Sports</option>
                        <option value="Games">4. Games</option>
                        <option value="Fashion">5. Fashion</option>
                        <option value="Home">6. Home</option>
                        <option value="Other">7. Other</option>
                    </select>
                </div>
                <div class="form-group"><span id="errorUpload_Category" style="color: red"></span></div>
                <div class="form-group"><input id="uploadProduct_Price" type="text" name="uploadProduct_Price" class="form-control-sm" style= "width: 75px" onkeyup="comprovaUpload_Price()" value={{ product[0]['price'] }}> €</div>
                <div class="form-group"><span id="errorUpload_Price" style="color: red"></span></div>

                <button type="submit" name="button" class="btn-dark">Upgrade Product</button>

            </form>

                <form id="form_delete_product" action="{{ url }}/deleteProduct/{{ product[0]['id'] }}"  enctype="application/x-www-form-urlencoded" method="POST">
                    <button id="delete" type="submit" name="button" class="btn-dark" formaction="/deleteProduct/{{ product[0]['id'] }}" onclick="sendForm(this)">Delete Product</button>
                </form>
            </div>

        </div>

    {% endif %}






    <input type="button" value="Go back" class="btn-dark" onclick="history.back()">

{% endblock %}