{% extends "base.html.twig" %}
{% block title %}Update User{% endblock %}
{% block content %}
    <div class="text-center m-4">
        <div id="div_update">
            <form id="form_updateUser" class="col" action="/updateuser" enctype="multipart/form-data" method="POST">
                <img src= "../assets/images/{{ image_profile }}" border="1" alt="img user" width="128" height="128">
                <h2 class="mb-4">Update User</h2>
                <div class="form-group"><input id="name" type="text" name="name" class="form-control-sm" onkeyup="comprovaInput('notLogin')" value={{ name }} ></div>
                <div class="form-group"><span id="error0" style="color: red"></span></div>
                <div class="form-group"><input id="username" type="text" name="username" class="form-control-sm" value={{ username }} readonly ></div>
                <div class="form-group"><span id="error1" style="color: red"></span></div>
                <div class="form-group"><span id="error1_1" style="color: red"></span></div>
                <div class="form-group"><input id="email" type="email" name="email" class="form-control-sm" onkeyup="comprovaInput('notLogin')" value={{ email }}></div>
                <div class="form-group"><span id="error2" style="color: red"></span></div>
                <div class="form-group"><input id="birthday" type="date" name="birthday" class="form-control-sm" value={{ birthday }} ></div>
                <div class="form-group"><span id="error3" style="color: red"></span></div>
                <div class="form-group"><input id="phoneNumber" type="text" name="phone_number" class="form-control-sm" value={{ phone_number }} ></div>
                <div class="form-group"><span id="error6" style="color: red"></span></div>
                <div class="form-group"><input id="password" type="password" name="password"  class="form-control-sm" placeholder="New Password" onkeyup="comprovaInput('notLogin')"></div>
                <div class="form-group"><span id="error4" style="color: red"></span></div>
                <div class="form-group"><input id="confirmPassword" type="password" name="confirmPassword" class="form-control-sm" placeholder="Confirm New Password" onkeyup="comprovaInput('notLogin')"></div>
                <div class="form-group"><span id="error5" style="color: red"></span></div>
                <input type="file" name="files[]" ><br><br>
                <div><button type="submit" name="button" class="btn-dark" onclick="sendForm(this)">Update Account</button></div><br>
                {% if errors is defined %}
                    <ol>
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ol>
                {% endif %}
            </form>
        </div>
        <div><br>
            <form id="form_deleteuser" action="/deleteuser"  enctype="application/x-www-form-urlencoded" method="POST">
                <button id="delete" type="submit" name="button" class="btn-dark" formaction="/deleteuser" onclick="sendForm(this)">Delete Account</button>
            </form>
        </div>
    </div>
    <input type="button" value="Go back" class="btn-dark" onclick="history.back()">
{% endblock %}
